{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}
    <h2 class="section-title">网站板块</h2>
    <div class="subsection-list">
        <div class="article-list--tile">
            {{ range slice "/post/" "/gallery/" "/articles/" }}
                {{ $page := $.Site.GetPage . }}
                {{ partial "article-list/tile" (dict "context" $page "size" "250x150" "Type" "taxonomy") }}
            {{ end }}
        </div>
    </div>

    <h2 class="section-title">最新页面</h2>
    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}